# See dos how to configure the bundle: https://symfony.com/doc/current/bundles/LiipImagineBundle/basic-usage.html
liip_imagine:
    # valid drivers options include "gd" or "gmagick" or "imagick"
    driver: "gd"

    resolvers :
      default:
        web_path: ~

    filter_sets:
      cache: ~

      thumbnail:
        quality: 75
        filters:
          thumbnail: { size: [360,230], mode: outbound }

      banner:
        quality: 75
        filters:
          thumbnail: { size: [1600,1200], mode: outbound }