{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <h1>Edit User</h1>

    {{ form_start(form) }}
	{{ form_widget(form) }}
	    <button class="btn">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}

{% endblock %}