{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}

    <h1>Profile</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin.profile.edit') }}">edit</a>

{% endblock %}
